.loginbutton{
margin:0px 275px;

}


.newplayer{
margin:0px 258px 0px ;

}

p{

  padding: 0px 175px 0px 150px;
}
.newshit{


  color:white;
  margin:5px 190px;
}
.top{
  padding: auto;
  color:white;
  margin:5px 190px;
}
.bottom{
  padding: 0px 0px 10px 0px;
  color:white;
  margin:5px 190px;
}
