html {
    background-color: black;
  }

p {
    color: white;
}

.headerImage{
margin: 0px 200px;
}


 body {
   background-image: url("file:///home/oem/sktredux/images/bgoutspace1.gif");
   width: 700px;
   margin: 0 auto;
   background-color: black;
   padding: 0px 20px 20px 20px;
   border: 5px solid black;
 }

a {
    border:2px solid pink;
    padding:  2px 2px 2px 2px;
    color:white;
    background-color: black;

 }
